#outer-box {
	border-left: 3px solid #d5d8da;
	border-right: 3px solid #d5d8da;
	border-radius: 4px;
        font-family: "SinaNovaW01-Regular";
        font-size: 20;
}

#window {
	background-image: linear-gradient(to right, black, #000711, black);
	opacity: 0.9
}

#text {
	font-family: "SinaNovaW01-Regular";
	font-size: 20;
	color: #dd4216;
}

#text:selected {
	color: #fffffd;
}

#input {
	color: #d1d4bf;
	border-bottom: 1px solid #72716d;
}

#scroll {
	margin: 2px 2px 3px 2px;
}

#entry {
	padding: 2px 4px;
	margin: 1px 2px;
}

#entry:selected {
}

